body{
    background-color: #5d00ffe0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    /* color: #0c0c0c; */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 9px 9px rgba(255, 255, 255, 0.4);
    max-width: 440px;
    /* height: 40%; */
    width: 100%;
}

#alarm-form{
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;

}
.clock {
    
    margin: 20px;
    text-align: center;
}
#current-time{
    font-size: 3em;
    font-weight: bold;
}
.alarm-form {
    margin-bottom: 20px;
}
.alarm-form h3 {
    text-align: center;
    margin-bottom: 10px;
    
}
.form-group{
    margin-bottom:15px;
}
.form-control{
    height:45px;
    width: 55%;
    font-size:1.2em;
}
.btn-primary{
    width: 100%;
    padding:10px;
    font-size: 1.2em;
    font-weight: bold;

}
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.btn-danger {
    padding: 5px 10px;
    font-size: 1em;
}